<div class="news" *ngIf="!isPhonePortrait && !isPhoneLandscape">
  <aside *ngIf="blog">
    <div class="card-large">
      <!-- <img
      src="{{ blogMain[0].jetpack_featured_media_url }}"
      alt=""
    /> -->
      <h4 [innerHTML]="blog.title.rendered"></h4>
      <p [innerHTML]="blog.content.rendered"></p>
    </div>

  </aside>
</div>


<div class="news mobile" *ngIf="isPhonePortrait">
  <aside>
    <h3>News</h3>
    <div class="card-large">
      <img src="assets/imgs/news/story-1.jpg" alt="">
      <h4>Warbler Indian Export for 3 Sq Miles Gin</h4>
      <p>Cape Clear Island Distillery has taken another amazing step forward with the first Indian export for our 3 Sq
        Miles Gin. This is in collaboration with Warbler Breweries who specialize in the importation of quality
        beverages and spirits into the sub-continent.</p>
      <p>Due to the size of the order this consignment was produced by Old Carrick Mill Distillery in Co Monaghan using
        ingredients and recipe supplied by us. We collaborated on the own brand label which is distinctive, is inspired
        by the 3 Sq Miles own label and features the famous Fastnet Lighthouse.

        Our iconic neighboring Fastnet Lighthouse attracts 1,000’s of visitors every year and we are delighted to see it
        achieve such new prominence in India. It will remind our new Indian customers of the maritime nature of our gin
        with its initial hint of saltiness and sweetness from the seaweed laminaria digitata. This is followed by the
        flavors of the flowers, honeysuckle and fuchsia with a little kick of aftertaste from the cubeb peppers.

        These are very exciting times for our distillery as we seek new markets around the globe for our true product
        from our West Cork Island Distillery. West Cork has become synonymous with quality food and beverages with
        Ireland’s premier food festival Taste of West Cork we extend a heartfelt ‘Céad Míle Fáilte’ ( hundred thousand
        welcomes) to our new Indian aficionados.

        Its onwards and upwards for Cape Clear Distillery, Old Carrick Mill and Warbler Breweries.

        Meanwhile for those interested in following our progress more closely please scroll down to register for our
        regular digital newsletter.

        Badhio ho !.</p>
    </div>

    <ul>
      <li>
        <div class="card">
          <img src="assets/imgs/news/story-2.jpg" alt="">
          <div class="card-body">
            <h4>Warbler Indian Export for 3 Sq Miles Gin</h4>
            <p>3 Sq Miles Cape Clear Island Gin is exported to India under the Warbler label Cape Clear Island
              Distillery has
              taken another amazing step forward</p>
            <p>Read more...</p>
          </div>
        </div>
      </li>
      <li>
        <div class="card">
          <img src="assets/imgs/news/story-4.jpg" alt="">
          <div class="card-body">
            <h4>Warbler Indian Export for 3 Sq Miles Gin</h4>
            <p>3 Sq Miles Cape Clear Island Gin is exported to India under the Warbler label Cape Clear Island
              Distillery has
              taken another amazing step forward</p>
            <p>Read more...</p>
          </div>
        </div>
      </li>
      <li>
        <div class="card">
          <img src="assets/imgs/news/story-5.jpg" alt="">
          <div class="card-body">
            <h4>Warbler Indian Export for 3 Sq Miles Gin</h4>
            <p>3 Sq Miles Cape Clear Island Gin is exported to India under the Warbler label Cape Clear Island
              Distillery has
              taken another amazing step forward</p>
            <p>Read more...</p>
          </div>
        </div>
      </li>
    </ul>

  </aside>
</div>
