<div class="home-story">
  <aside>
    <h3>The home of Artisan Gin in Ireland</h3>
    <p>Cape Clear is a Gaeltacht (Irish speaking) island eight miles off the southwest coast of County Cork; it's a
      stunningly beautiful place. Though our island continues to experience a decline in its population, there is hope.
      We've produced a gin that has proven capable of winning awards at the most prestigious and competitive events in
      the world. We've been granted planning permission for a state-of-the-art whiskey distillery building. The tide is
      rising; please join us on our journey.</p>
    <img src="assets/imgs/gin_pouring.png" alt="">
    <h3>Our Island</h3>
    <p>Located on the Wild Atlantic Way, Cape Clear Island is the ideal setting for a distillery, visitor centre and
      cask store.
    </p>
    <p>
      This is a Gaeltacht/Irish-speaking island, famed for its natural beauty. It is recognised worldwide for
      storytelling, language, traditional music, and sailing. Also associated with the island is the iconic Fastnet
      lighthouse, located on a solitary rock formation four miles to the west.</p>
  </aside>
  <aside>
    <img src="assets/imgs/gin_lsc.png" alt="">

    <h3>Our Gin - 3 sq.miles</h3>
    <p>Our gin is a labour of love, as it took many tries to perfect the recipe. The result is nothing short of
      spectacular. The gin's juniper berries blend harmoniously with island-harvested honeysuckle, fuschia, and kelp.
    </p>
    <img src="assets/imgs/fastnet.png" alt="">

  </aside>
</div>
