.home-story{
  display: grid;
  grid-template-columns: 1fr;
  padding: 0 0 0 15px;
  margin-top: 20px;
  margin-bottom: 50px;
  aside{
    img{
      border-radius: 10px;
      height: 370px;
      margin-left: 8%;
    }
  }
  h3{
    font-size: 20px;
  }
  p{
    max-width: 90%;
    line-height: 1.2;
    font-size: 16px;
    column-rule: #111;
  }
}
