.aboutus {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr 1fr;
  padding: 0 50px 0 50px;
  margin-top: 30px;
  aside{
    img{
      border-radius: 20px;
    }
  }
  h3 {
    font-size: 36pt;
  }

  p {
    max-width: 90%;
    line-height: 1.8;
    font-size: 18pt;
  }

  .team {
    grid-row: 2;
    grid-column: 1/-1;

    .people {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;

      ul {
        list-style: none;

        .picture {
          width: 300px;
          height: 300px;
          border-radius: 50%;

          background-repeat: no-repeat;

          // https://helpsoftwareireland.github.io/cape/
          &.pic-1 {
            background-image: url("https://helpsoftwareireland.github.io/cape/assets/imgs/seamus.png");
          }

          &.pic-2 {
            background-image: url("https://helpsoftwareireland.github.io/cape/assets/imgs/martin.png");
          }

          &.pic-3 {
            background-image: url("https://helpsoftwareireland.github.io/cape/assets/imgs/christopher.png");
          }
        }

        .name {
          font-size: 24pt;
          font-weight: 700;
          padding-top: 30px;
          padding-bottom: 30px;
        }

        .bio {
          font-size: 20px;
          line-height: 2;
          width: 400px;
        }
      }
    }
  }
  &.mobile{
    display: flex;
    flex-direction: column;
    padding: 0 20px 0 20px;
    font-size: 20px;
    p{
      font-size: 20px;
    }
    .team{
      .people{
        display: flex;
        flex-direction: column;
        ul{
          padding-inline-start: 0px;
          .picture{
            width: 200px;
            height: 200px;
            background-position: center;
    background-size: contain;

          }
        }
      }
    }
    .bio{
      width: 90% !important;
    }
  }
}
