<div class="app-header" [ngClass]="{'with-bg': !homePage}" *ngIf="!isMobile">

  <div class="logo">
    <a href="/cape">
      <img src="assets/imgs/logo.png" *ngIf="homePage" alt="">
      <img src="assets/imgs/logo_blue.png" *ngIf="!homePage" alt="">
    </a>

  </div>
  <nav>
    <div class="bg-right">
      <ul class="main-menu">
        <li><a href="Store">
            <fa-icon [icon]="['fas', 'wine-bottle']" size="lg" [styles]="{'color': 'fabd2a', 'font-size':'22px'}"
              primaryColor="#fabd2a"></fa-icon>store
          </a>
        </li>
        <li><a href="AboutUs">
            <fa-icon [icon]="['far', 'address-book']" size="lg" [styles]="{'color': 'fabd2a', 'font-size':'22px'}"
              primaryColor="#fabd2a"></fa-icon>about us
          </a></li>
        <li><a href="News">
            <fa-icon [icon]="['far', 'comment']" size="lg" [styles]="{'color': 'fabd2a', 'font-size':'22px'}"
              primaryColor="#fabd2a"></fa-icon>news
          </a></li>
      </ul>
      <div class="cart-toggle" (click)="toggleCart()">
        <fa-icon [icon]="['fas', 'bag-shopping']" size="lg"
          [styles]="{'color': 'fabd2a', 'font-size':'22px'}" primaryColor="#fabd2a"></fa-icon> cart
      </div>
    </div>
  </nav>
</div>
<div class="app-header-mobile" *ngIf="isMobile">
  <nav>
    <ul class="main-menu">
      <li>
        <fa-icon *ngIf="isMobile" (click)="toggleMenu()" [icon]="['fas', 'bars']" size="lg"
          [styles]="{'color': 'fabd2a', 'font-size':'22px'}" primaryColor="#fabd2a"></fa-icon>
      </li>
      <li> <a href="/cape">
          <img src="assets/imgs/logo.png" alt=""></a></li>
      <li>
        <fa-icon (click)="toggleCart()" [icon]="['fas', 'bag-shopping']" size="lg"
          [styles]="{'color': 'fabd2a', 'font-size':'22px'}" primaryColor="#fabd2a"></fa-icon>
      </li>
    </ul>
  </nav>
</div>
<section class="sidebar-menu fromLeft"[ngClass]="{'fromLeft': sideMenuOpen}">

  <ul class="side-menu">
    <li class="close-button">
      <fa-icon (click)="onCloseSideMenu()" [icon]="['fas', 'close']" size="lg"
        [styles]="{'color': '111', 'font-size':'22px'}" primaryColor="#111"></fa-icon>
    </li>
    <li><a href="Store">
        <fa-icon [icon]="['fas', 'wine-bottle']" size="lg" [styles]="{'color': 'fabd2a', 'font-size':'22px'}"
          primaryColor="#fabd2a"></fa-icon>store
      </a>
    </li>
    <li><a href="AboutUs">
        <fa-icon [icon]="['far', 'address-book']" size="lg" [styles]="{'color': 'fabd2a', 'font-size':'22px'}"
          primaryColor="#fabd2a"></fa-icon>about us
      </a></li>
    <li><a href="News">
        <fa-icon [icon]="['far', 'comment']" size="lg" [styles]="{'color': 'fabd2a', 'font-size':'22px'}"
          primaryColor="#fabd2a"></fa-icon>news
      </a></li>
  </ul>
</section>

<section class="cart-menu" [ngClass]="{'fromRight': cartOpen}" *ngIf="!isMobile" >
  <div class="cart-close">
    <fa-icon (click)="toggleCart()" [icon]="['fas', 'close']" size="lg"
      [styles]="{'color': '111', 'font-size':'22px'}" primaryColor="#111"></fa-icon>
  </div>
  <app-cart></app-cart>

</section>

<section class="cart-menu mobile" *ngIf="isMobile" [ngClass]="{'fromRight': cartOpen}">
  <div class="cart-close">
    <fa-icon (click)="toggleCart()" [icon]="['fas', 'close']" size="lg"
      [styles]="{'color': '111', 'font-size':'22px'}" primaryColor="#111"></fa-icon>
  </div>
  <app-cart></app-cart>

</section>
