.app-header {

  display: flex;
  justify-content: flex-end;
  height: 140px;
  color: #fff;


  font-family: 'Dosis';
  font-weight: 700;
  font-size: 22px;
  text-transform: uppercase;
  position: absolute;
  width: 100%;
  z-index: 500;

  .logo {
    position: absolute;
    top: 10px;
    z-index: 1000;
    left: 30px;

    >img {
      width: 350px;
    }
  }

  nav {
    .bg-right {
      display: grid;
      grid-template-columns: 1fr 400px;
      align-items: center;
      padding: 20px;
      background: #60769a;
      padding: 20px;
      border-radius: 0 0 0 20px;
      opacity: .8;

      .main-menu {
        list-style: none;
        display: inline-flex;
        gap: 30px;
        justify-self: flex-end;

        li {
          display: inline-flex;
          gap: 10px;
          padding-right: 20px;
          border-right: 1px dotted #ccc;
        }
      }

      .cart-menu {
        justify-self: flex-end;
      }
    }
  }
}
