<div class="app-header">
  <div class="logo"><img src="assets/imgs/logo.png" alt=""></div>
  <nav>
    <div class="bg-right">
    <ul class="main-menu">
      <li> <fa-icon [icon]="['fas', 'wine-bottle']" size="lg" [styles]="{'color': 'fabd2a', 'font-size':'22px'}"
        primaryColor="#fabd2a"></fa-icon>store</li>
      <li><fa-icon [icon]="['far', 'address-book']" size="lg" [styles]="{'color': 'fabd2a', 'font-size':'22px'}"
        primaryColor="#fabd2a"></fa-icon>about us</li>
      <li><fa-icon [icon]="['far', 'comment']" size="lg" [styles]="{'color': 'fabd2a', 'font-size':'22px'}"
        primaryColor="#fabd2a"></fa-icon>news</li>
    </ul>
    <div class="cart-menu">
      <fa-icon [icon]="['fas', 'cart-shopping']" size="lg" [styles]="{'color': 'fabd2a', 'font-size':'22px'}"
      primaryColor="#fabd2a"></fa-icon> cart
    </div></div>
  </nav>
</div>
